*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
	animation: gradient 15s ease infinite;
    background-size: 150% 150%;
    padding: 1rem;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.calculator-grid {
    display: grid;
    margin-top: 2rem;
    justify-content: center;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem); 
    gap: 5px;
    background-color:  rgba(255, 255, 255, .35);
    background: linear-gradient(45deg, rgba(255,255,255,.15), rgba(255,255,255,.35));
    border: 1px solid rgba(255, 255, 255, .25);
    margin: auto;
    width: max-content;
    padding: 1rem;
    border-radius: .5rem;
}

.calculator-grid>button {
    cursor: pointer;
    font-size: 2rem;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    border-radius: .675rem;
}

.calculator-grid>button:hover,
.calculator-grid>button:focus {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: .675rem;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}